# File template
# Replace ".example" in the filename with the desired environment. Create two files: ".env.dev" and ".env.prod"

#####################################
# DB
#####################################

MARIADB_ROOT_PASSWORD=

MARIADB_DATABASE=

MARIADB_USER=

MARIADB_PASSWORD=

#####################################
# WordPress
#####################################

WP_ENVIRONMENT_TYPE=
WORDPRESS_DEBUG=false # if production, false